<% if current_user %>
  <div id="curupira-model-links">
    <%= link_to "Usuários", users_path %><br>
    <%= link_to "Grupos de Usuário", groups_path %><br>
    <%= link_to "Funcionalidades", features_path %><br>
    <%= link_to "Perfis", roles_path %>
  </div>
<% end %>
