<div class="nested-fields">
  <% if f.object.feature.blank? ||
   f.object.feature.active? %>
    <%= f.select :feature_id, active_features_select_options %>
  <% else %>
    <%= f.object.feature.name %>
  <% end %>

  <%= link_to_remove_association "Remover", f %>
</div>