<div class="nested-fields">
  
  <% if f.object.role.blank? || f.object.role.active? %>

    <%= f.select :role_id, active_roles_select_options %>
  <% else %>
    <%= f.object.role.name %>
  <% end %>

  <%= link_to_remove_association "Remover", f %>
</div>
